@reset-global pc;

html, body, #app {
  width: 100%;
  height: 100%;
  color: #FFF #1F2024;
  font-family: "PingFang SC", "Lantinghei SC", "Microsoft Yahei", "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", sans;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: #81C79E;
  }
}

::selection {
  color: #1F2024 #FFF;
}

@component-namespace period {
  @c site {
    size: 100%;
  }
}
