@component-namespace period {
  @c navigation {
    size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @d block {
      position: relative;
      size: 25% 100%;
    }

    @d bg {
      position: absolute;
      size: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: auto 110%;
      opacity: 0.15;
      transition: all .5s;

      @when active {
        background-size: auto 100%;
        opacity: .8;
      }
    }

    @d item {
      position: relative;
      size: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      & a {
        display: block;
      }

      @d title {
        text-align: center;

        & i {
          size: 58px;
          margin: auto;
          background: rgba(255, 255, 255, .2);
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all .5s;
        }

        & svg {
          size: 36px;
        }

        & h2 {
          font-size: 36px;
          font-family: "Poiret One", cursive;
        }

        @when active {
          & i {
            background: rgba(0, 0, 0, .5);
          }
        }
      }
    }
  }
}
