@component-namespace period {
  @c loading {
    position: fixed 0;
    size: 100%;
    color: #FFF #2A333C;

    @d loader {
      position: absolute;
      left: 50%;
      top: 50%;
      size: 200px;
      background: url(../../assets/puff.svg) no-repeat scroll center center / cover rgba(0, 0, 0, 0);
      transform: translate(-50%, -50%);
    }

    @d title {
      position: absolute;
      left: 50%;
      top: 50%;
      font-size: 48px;
      font-family: Satisfy, cursive;
      text-align: center;
      transform: translate(-50%, -50%);
    }
  }
}
